In [22]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [28]:
dframe = DataFrame(np.arange(16).reshape(4,4),
                  index=[1,2,3,4],
                  columns=[['A','A','B','C'],['E','F','G','H']])

In [30]:
dframe

    A       B   C
    E   F   G   H
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [37]:
dframe.columns.names=['LETTRE','EFGH']

In [38]:
dframe

LETTRE   A       B   C
EFGH     E   F   G   H
1        0   1   2   3
2        4   5   6   7
3        8   9  10  11
4       12  13  14  15

In [39]:
dframe.swaplevel('LETTRE','EFGH',axis=1)

EFGH     E   F   G   H
LETTRE   A   A   B   C
1        0   1   2   3
2        4   5   6   7
3        8   9  10  11
4       12  13  14  15