In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
dframe = DataFrame([[1,2,3,4,5],[6,7,8,9,10]])

In [3]:
dframe

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [5]:
dframe = DataFrame([[1,2,3,4,5],[6,7,8,9,10]],
                  index = ['A','B'],
                  columns = ['First','Second','Third','Fourth','Fifth'])

In [6]:
dframe

   First  Second  Third  Fourth  Fifth
A      1       2      3       4      5
B      6       7      8       9     10

In [8]:
dframe.ix['A']

First     1
Second    2
Third     3
Fourth    4
Fifth     5
Name: A, dtype: int64

In [9]:
dframe['First']

A    1
B    6
Name: First, dtype: int64

In [10]:
dframe.First

A    1
B    6
Name: First, dtype: int64

In [15]:
dframe.rename(columns={'First':'First C'},inplace=True)

In [16]:
dframe['First C']

A    1
B    6
Name: First C, dtype: int64

In [17]:
dframe.drop('A')

   First C  Second  Third  Fourth  Fifth
B        6       7      8       9     10

In [18]:
dframe.drop('First C',axis=1)

   Second  Third  Fourth  Fifth
A       2      3       4      5
B       7      8       9     10