In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = Series(['one','two',np.nan,'four'])

In [3]:
data

0     one
1     two
2     NaN
3    four
dtype: object

In [4]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [6]:
data.fillna('null')

0     one
1     two
2    null
3    four
dtype: object

In [14]:
npn = np.nan
dframe = DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,npn,9],[1,npn,npn,npn]])
dframe

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9
3   1 NaN NaN NaN

In [24]:
dframe.fillna({2:1})

    0   1  2   3
0   1   2  3 NaN
1   2 NaN  5   6
2 NaN   7  1   9
3   1 NaN  1 NaN